$dark-brown: #230903;
$light-brown: #656256;
$light-white: #EBE0CE;
$light-tan: #EBD1A7;
$my-font: Optima, sans-serif;

$colors-list:   ('light-brown', 'dark-brown', 'light-white', 'light-tan');

$colors-list-vars:  ($light-brown, $dark-brown, $light-white, $light-tan);