@import 'config';
@import 'default';

body {
    margin: 0;
    background-color: #EFE6DD;
}

.menu {
    padding: 2em 5em;
    margin-top: 2em;
    .menuItems {
        padding: 0 3em;
    }
    h1 {
        text-align: center;
        font-size: 42px;
        font-family: $my-font;
        color: $dark-brown;
        font-weight: 100;
        margin: .2em;
    }
    h3 {
        padding-top: 1em;
        font-size: 28px;
    }
    li {
        font-size: 20px;
        display: flex;
        padding-top: .5em;
        .dots {
            border-bottom: 3px dotted black;
            flex: 1;
        }
    }
}



    .tableSelect {
        display: block;
    }
    h2 {
        text-align: center;
        color: $light-brown;
        font-family: $my-font;
        font-size: 32px;
        font-weight: 100;
        
    }

    img {
        padding: 0 25px 15px 25px;
        max-width:100%;
        height: auto;
        display: block;
    }

    h3 {
        font-family: $my-font;
        color: $light-brown;
        font-size: 25px;
        font-weight: 100;
        margin: .5em 0;
    }
    p {
        font-family: $my-font;
        color: $light-brown;
        font-size: 20px;
        margin: .2em 0;
    }

    .pickTime {
        margin-top: 1em;
    }

    .next {
        display: block;
        button {
            margin-bottom: 15px;
            font-family: $my-font;
            background-color: $light-brown;
            color: $light-white;
            font-size: 24px;
            border-radius: 5px;
            border: none;
            padding: .3em 1em;
            transition: 250ms;
            text-transform: none;
            &:hover {
                background-color: $dark-brown;
            }
        }
    }
    
.menuPictures {
    img {
        padding: 0em;
        padding-bottom: .5em;
    }
    .menuBtn {
        text-align: center;
        padding: 3em 0;
        a {
            text-align: center;
            display: inline;
            padding: 1em 2em;
            font-size: 25px;
            text-decoration: none;
            border-radius: 10px;
            color: $light-tan;
            background-color: $dark-brown;
            border-color: $dark-brown;
            border-style: solid;
            border-width: 5px;
            &:hover {
                border-color: $dark-brown;
                background-color: white;
                color: $dark-brown;
            }
    }
}
    .menuReserveBtn {
        font-family: $my-font;
        background-color: $light-brown;
        color: $light-white;
        font-size: 40px;
        text-align: center;
        border-radius: 5px;
        border: none;
        padding: 1em 1em;
        transition: 250ms;
        text-transform: none;
        &:hover {
            background-color: $dark-brown;
        }
    }
}

