@import 'config';
@import 'default';

body {
    margin: 0;
    background-color: #EFE6DD;
}




    .tableSelect {
        display: block;
    }
    h2 {
        text-align: center;
        color: $light-brown;
        font-family: $my-font;
        font-size: 32px;
        font-weight: 100;
        
    }

    img {
        padding: 0 25px 15px 25px;
        max-width:100%;
        height: auto;
        display: block;
    }

    h3 {
        font-family: $my-font;
        color: $light-brown;
        font-size: 25px;
        font-weight: 100;
        margin: .5em 0;
    }
    p {
        font-family: $my-font;
        color: $light-brown;
        font-size: 20px;
        margin: .2em 0;
    }

    .next {
        display: block;
        button {
            margin-bottom: 15px;
            font-family: $my-font;
            background-color: $light-brown;
            color: $light-white;
            font-size: 24px;
            border-radius: 5px;
            border: none;
            padding: .3em 1em;
            transition: 250ms;
            text-transform: none;
            &:hover {
                background-color: $dark-brown;
            }
        }
    }
    
.custModal {

}

